* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin: 15px 0 10px;
}

p {
    font-size: 1rem;
    color: #555;
    text-align: left;
    font-family: "Corben", serif;
}

.body-text {
    max-width: 700px;
    margin: 0 auto 40px;
}

h1 {
    font-size: clamp(3.5rem, 12vw, 10rem); 
    font-family: "Luckiest Guy", sans-serif;
    color: #2168e5;
    margin-top: -40px;
    margin-bottom: -70px;
    display: inline-block;
    transform: rotate(0deg);
    line-height: 1.6;
}

h2 {
    font-size: clamp(1.5rem, 6vw, 2.5rem); 
    font-weight: normal;
    font-family: "Corben", serif;
    color: #434343;
}

.learn-more {
    margin-top: 30px;
    margin-bottom: -20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

nav a {
    font-size: 1.0rem;
    font-family: "Corben", serif;
    color: #434343;
    background-color: #FFE26E;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    z-index: 10;
    border-radius: 10px;
    border: 4px solid #434343;
    box-shadow: 6px 6px 0px #434343;
    padding: 10px;
    text-decoration: none;
    width: 165px; 
    text-align: center; 
}

nav a:hover {
    box-shadow: 4px 4px 0px #434343;
    transform: translate(3px, 3px);
}

.learn-more-nav {
    margin-top: 50px;
    margin-bottom: 30px;
}

.primary-nav {
    background-color: #2168e5;
    color: #fff;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 800px; 
    margin: 0 auto 50px;
}

.video-container {
    width: 100%; 
    aspect-ratio: 1 / 1; 
    border-radius: 20px;
    border: 4px solid #434343;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image {
    display: block; 
    max-width: 350px;
    width: 100%; 
    height: auto; 
    margin: 20px auto;
}

@media (max-width: 1024px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px; /* Reduce body padding on mobile */
    }

    .video-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
        padding: 0 20px;
        margin: 5px auto 50px;
    }

    h2 {
        margin-bottom: 0; 
    }

    .learn-more {
        margin-bottom: -20px; 
        margin-top: 30px;
    }
   
    h1 {
        font-size: clamp(5.875rem, 20vw, 16.875rem);
        margin-top: 16px;
        margin-bottom: 0;
        line-height: 0.75;
    }

    .image {
        max-width: 65%; 
        margin: 20px auto; 
    }

    div[style*="max-width: 800px"] {
        padding: 20px !important; 
    }
}