* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin: 40px 0 10px;
}

p {
    font-size: 1rem;
    color: #555;
    text-align: left;
    font-family: "Corben", serif;
}

.body-text {
    max-width: 750px;
    margin: 0 auto 40px;
}

h1 {
    font-size: clamp(3.5rem, 12vw, 10rem); 
    font-family: "Luckiest Guy", sans-serif;
    color: #2168e5;
    margin-top: -40px;
    margin-bottom: -50px;
    display: inline-block;
    transform: rotate(0deg)
}

h2 {
    font-size: clamp(1.5rem, 6vw, 2.5rem); 
    font-weight: normal;
    font-family: "Corben", serif;
    color: #434343;
    margin-left: 20px;
}

        /* Navigation Links */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

nav a {
    font-size: 1.1rem;
    font-family: "Corben", serif;
    color: #434343;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    z-index: 10;
    border-radius: 10px;
    border: 4px solid #434343;
    box-shadow: 6px 6px 0px #434343;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    box-shadow: 4px 4px 0px #434343;
    transform: translate(3px, 3px);
}

.learn-more-nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Video Grid Layout */
.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 800px; 
    margin: 0 auto 50px;
}

.video-container {
    width: 100%; 
    aspect-ratio: 1 / 1; 
    border-radius: 20px;
    border: 4px solid #434343;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 1024px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
    }

    h1 {
        margin-top: -20px;
    }
}